<div id="feedback-app">
    <section >
        <h2 >
            Feedback
        </h2>
        <div >
            <p >
                Send feedback about
            </p>
            <div >
                <a v-bind:href="projectFeedbackUrl"   target="_blank">
                    <span >
                        This project</span>
                    <span class="iconify" data-icon="mdi-exit-to-app" data-inline="false"></span></a>

                <a v-bind:href="pageFeedbackUrl"   target="_blank">
                    <span >
                        This page</span>
                    <span class="iconify" data-icon="mdi-exit-to-app" data-inline="false"></span></a>


                <p >
                    You may leave feedback directly on
                    <a target="_blank" v-bind:href="githubFeedbackUrl" >
                        GitHub<span class="iconify" data-icon="mdi-github" data-inline="false"></span></a>.
                </p>
            </div>
        </div>
        <div>

            <ul role="tablist">
                <li >
                    <button data-toggle="tab" role="tab"
                        aria-controls="open-issues"
                        v-on:click="viewOpenClick"
                        >Open ({{openCount}})</button>
                </li>
                <li >
                    <button   data-toggle="tab" role="tab"
                        aria-controls="closed-issues"
                        v-on:click="viewOpenClick"
                        >Closed ({{closedCount}})</button>
                </li>
            </ul>
            <div  >
                <div role="tabpanel"
                    v-if="viewOpen"
                    aria-labelledby="open-issues-tab">

                    <issue-view
                        v-for="issue in openIssues"
                        v-bind:issue="issue"
                        v-on:toggle-commnets="expandIssueClick"
                        ></issue-view>
                </div>
                <div role="tabpanel" 
                    v-if="viewClosed"
                    aria-labelledby="closed-issues-tab">

                    <issue-view
                    v-for="issue in closedIssues"
                    v-bind:issue="issue"
                    v-on:toggle-commnets="expandIssueClick"
                    ></issue-view>

                </div>
            </div>
        </div>
    </section>
</div>