.issue{

}

.comment{

}

.comment-count{

}

.comment-title{

}

.comment-author{

}

.comment-date{
    
}

.tab {

}

#feedback-app {
    font-family: -apple-system,BlinkMacSystemFont,"helvetica neue",helvetica,roboto,noto,"segoe ui",arial,sans-serif;
    color: #333;
}

.feedback-content {
    background-color: #eee;
    border-radius: 8px;
    padding: 12px 20px;
}

#feedback-app a.button {
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    padding: 8px 12px;
    margin-right: 4px;
    margin-bottom: 20px;
    text-decoration: none;
}

#feedback-app a.button:hover {
    border: 1px solid #ccc;
    background-color: #ccc;
}

#feedback-app li {
    list-style: none;
    display: inline-block;
    margin: 0;
    margin-right: 8px;
}

#feedback-app ul {
    padding-inline-start: 0;
    border-bottom: 1px solid #ccc;
}

#feedback-app li button {
    border: none;
}

#feedback-app li.active {
    font-weight: bold;
}

#feedback-app .issue button {
    border-width: 0;
    background: none;
}
