#SECTION_1 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    height: 350px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    top: 0px;
    width: 802.195px;
    column-rule-color: rgb(23, 23, 23);
    perspective-origin: 401.094px 175px;
    transform-origin: 401.098px 175px;
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 16px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*#SECTION_1*/

#SECTION_1:after {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(23, 23, 23);
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 16px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*#SECTION_1:after*/

#SECTION_1:before {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(23, 23, 23);
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 16px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*#SECTION_1:before*/

#H2_2 {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    height: 25.5px;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    width: 802.195px;
    column-rule-color: rgb(23, 23, 23);
    perspective-origin: 401.094px 12.75px;
    transform-origin: 401.098px 12.75px;
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 600 28px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    margin: 32px 0px 0px;
    outline: rgb(23, 23, 23) none 0px;
}/*#H2_2*/

#H2_2:after {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(23, 23, 23);
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 600 28px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*#H2_2:after*/

#H2_2:before {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(23, 23, 23);
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 600 28px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*#H2_2:before*/

#DIV_3 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    height: 145px;
    left: 0px;
    overflow-wrap: break-word;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    top: 0px;
    width: 802.195px;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    perspective-origin: 401.094px 72.5px;
    transform-origin: 401.098px 72.5px;
    caret-color: rgb(23, 23, 23);
    background: rgb(242, 242, 242) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 6px 6px 6px 6px;
    font: 16px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    margin: 16px 0px 0px;
    outline: rgb(23, 23, 23) none 0px;
    padding: 16px;
    transition: height 0.5s ease-in 0s, opacity 0.5s ease-in 0s;
}/*#DIV_3*/

#DIV_3:after {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 16px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*#DIV_3:after*/

#DIV_3:before {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 16px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*#DIV_3:before*/

#P_4 {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    height: 25.5px;
    max-width: 100%;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    width: 768.195px;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    perspective-origin: 384.094px 12.75px;
    transform-origin: 384.098px 12.75px;
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 16px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    margin: 0px;
    outline: rgb(23, 23, 23) none 0px;
}/*#P_4*/

#P_4:after {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 16px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*#P_4:after*/

#P_4:before {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 16px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*#P_4:before*/

#DIV_5 {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    height: 69.5px;
    max-width: 100%;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    width: 768.195px;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    perspective-origin: 384.094px 34.75px;
    transform-origin: 384.098px 34.75px;
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 16px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    margin: 16px 0px 0px;
    outline: rgb(23, 23, 23) none 0px;
}/*#DIV_5*/

#DIV_5:after {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 16px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*#DIV_5:after*/

#DIV_5:before {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 16px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*#DIV_5:before*/

.button-links {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    display: inline-flex;
    height: 36px;
    left: 0px;
    overflow-wrap: break-word;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    top: 0px;
    vertical-align: top;
    white-space: nowrap;
    width: 134.117px;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    align-items: center;
    justify-content: center;
    perspective-origin: 67.0547px 18px;
    transform-origin: 67.0586px 18px;
    user-select: none;
    caret-color: rgb(23, 23, 23);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(94, 94, 94);
    border-radius: 2px 2px 2px 2px;
    font: 16px / 24px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    margin: 0px 0px 8px;
    outline: rgb(23, 23, 23) none 0px;
    padding: 5px 12px;
}/*.button-links*/


.button-links:after {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    display: block;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    white-space: nowrap;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    user-select: none;
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 16px / 24px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*.button-links:after*/

.button-links:before {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    display: block;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    white-space: nowrap;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    user-select: none;
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 16px / 24px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*.button-links:before*/

#SPAN_7 {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    cursor: pointer;
    display: block;
    height: 24px;
    min-height: auto;
    min-width: auto;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    white-space: nowrap;
    width: 88.1172px;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    perspective-origin: 44.0547px 12px;
    transform-origin: 44.0586px 12px;
    user-select: none;
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 16px / 24px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*#SPAN_7*/

#SPAN_7:after {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    white-space: nowrap;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    user-select: none;
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 16px / 24px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*#SPAN_7:after*/

#SPAN_7:before {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    white-space: nowrap;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    user-select: none;
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 16px / 24px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*#SPAN_7:before*/



#P_20 {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    height: 25.5px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    width: 768.195px;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    perspective-origin: 384.094px 12.75px;
    transform-origin: 384.098px 12.75px;
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 16px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    margin: 0px;
    outline: rgb(23, 23, 23) none 0px;
}/*#P_20*/

#P_20:after {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 16px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*#P_20:after*/

#P_20:before {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 16px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*#P_20:before*/

#A_21 {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 600 16px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*#A_21*/

#A_21:after {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 600 16px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*#A_21:after*/

#A_21:before {
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(23, 23, 23);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    word-break: break-word;
    column-rule-color: rgb(23, 23, 23);
    caret-color: rgb(23, 23, 23);
    border: 0px none rgb(23, 23, 23);
    font: 600 16px / 25.6px "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    outline: rgb(23, 23, 23) none 0px;
}/*#A_21:before*/

